<div class="container">
    <div class="jumbotron">
  <h2>Login</h2>
  </div>
  <form  #f="ngForm" name="theForm" (submit)="checkLogin(f)" >
    <div class="form-group">
      <label>Username:</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="loginData.name" #loginName="ngModel" required pattern="^[a-zA-Z]+$">
      <span class="help-block danger" *ngIf="loginName.errors?.required && loginName.touched">
        The name is required
      </span>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name="password" required [(ngModel)]="loginData.password" #loginPwd="ngModel">
      <span class="help-block danger" *ngIf="loginPwd.errors?.required && loginPwd.touched">
        The password is required
      </span>
    </div>
    <div class="form-group">
        <div class="errorMsg" *ngIf="error">{{error}}</div>
        <div *ngIf="success">{{success}}</div>
      Click <a routerLink="/register" class="navbar-brand">here</a>to create new account.
    </div>
    <button
    class="btn btn-primary btn-sm"
    [disabled]="f.invalid">Login</button>
  </form>
</div>
